-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CMontserrat:300,400,500,700,800,900%7CQuicksand:700",
		logo = {
			default: 'logo-default-169x34.png',
			inverse: 'logo-default-169x34.png',
			name: 'cityscape'
		},
		colors = {
			primary: '#ffb142'
		},
		menu = [
			{
				title: 'Home',
				link: '#home'
			},
			{
				title: 'About',
				link: '#about'
			},
			{
				title: 'Our Services',
				link: '#our-services'

			},
			{
				title: 'Projects',
				link: '#projects'
			},
			{
				title: 'Contact Us',
				link: '#contact-us'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
